* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
  width: 100%;
}

h1, h2, h3 {
  font-family: gotu;
  border-radius: 15px;
}

p {
  font-family: montserrat;
}

.navbar{
  font-size: 18px;
  font-family: montserrat;
  padding-bottom: 15px;
}

.nav-list {
  list-style-type: none;
  display: none;
}

.nav-link {
  text-decoration: none;
  color: #230fa3;
}

.nav-list li {
  text-align: center;
  margin: 15px auto;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: #230fa3;
}

.active {
  display: block;
}

header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

main {
  padding: 15px;
}

.profilepic {
  height: 50vh;
}

.bio h1 {
  text-align: center;
}

.graphic {
  display: none;
}

h1, h2 {
  background-image: linear-gradient(#7815ce, #fa85d8);
  color: #ffffff;
}
h3, p {
  color: #230fa3
}

a {
  text-decoration: none;
}

.exampleimage {
  width: 80%;
  border: 2px solid #53b2f9;
  border-radius: 100%;
  margin-bottom: 50px;
}

.example-image, .about-image {
  width: 80%;
}

.web a {
  color: rgb(212, 0, 177);
}

form {
  padding: 10px;
}

form input {
  margin-bottom: 15px;
  border: 1px solid #53b2f9;
}

footer img {
  height: 40px;
  cursor: pointer;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-shrink: 1;
  flex-grow: 1;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 520px) {

  header, main {
    padding: 50px;
  }
  
  .example {
    display: inline-block;
    width: 40vw;
  }

  .exampleimage {
    width: 35vw;
    height: 35vw;
  }

  .art p, .dance p, .desc {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  header h1 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (min-width: 1280px) {

  .navbar-toggle {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    margin-top: 0;
    align-items: center;
    height: 60px;
    background-color: #fce1f586;
  }

  .nav-list {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-list li {
    margin: 0;
    margin-left: 50px;
}

.graphic {
    display: inline;
    height: 25vw;
  }
  
  .profilepic {
    width: 25vw;
    height: 25vw;
  }

  .index-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .bio {
    width: 25vw;
    vertical-align: top;
    text-align: left;
  }

  .work {
    width: 60vw;
  }

  .work h2 {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
  }

  .art, .dance {
    width: 40vw;
  }

  .art p, .dance p {
    width: 60%;
  }

  .desc {
    width: 30%;
  }

  .example {
    display: inline-block;
    width: 25vw;
  }

  .exampleimage {
    width: 20vw;
    height: 20vw;
  }

  .example-image {
    width: 75%;
  }

  .about-image {
    width: 20vw;
  }

  .web, .graphics {
    padding: 25px;
    width: 40vw;
  }

  footer {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }

}